:root {
    font-size: 16px;
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gentium Plus', serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {

}


.box {
    min-height: 100vh;
    padding: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    text-align: center;
    max-width: 800px !important;
    margin: 0 auto;
}

.divider {
    height: 50vh;
}

.tag {
    display: block;
}

.box .tag .icon {
    display: block;
    width: 20%;
    max-width: 200px;
    margin: 0 auto;
}

.countdown {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem auto;
}





.box .container img {
    width: 30%;
    display: block;
}

.second .container {
    text-align: center;
    max-height: 90vh;
}

.second .container .flex {
    display: flex;
    justify-content: space-between;
}

.second .container .flex img{
    display: block;

    max-width: 200px;
    width: 40%
}

.second .container .text h2 {
    padding-top: 1.2rem;
}


.second .container .text span {
    display: block;
    padding-top: .7rem;
}


.instr{
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.third .tag{
    margin: 0 auto;
}

.third .tag img {
    width: 100%;
}


/* put to the middle */


.eigth .container img,
.thirteenth .container img {
    display: block;
    margin: 0 auto;
    padding-top: 3rem;
}

.eigth .container h2,
.fourteenth .container h2,
.thirteenth .container h2 {
    padding-top: 6rem;

}

.sixteenth .container img {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
}

.sixteenth h1 {
    padding-top: 1rem;
}
.sixteenth h2 {
    line-height: 1.5;
    padding-top: 1.5rem;
    font-size: 1.2rem;
}



/* Backgrounnds */
.first {
background-color: rgb(209, 255, 255);
}

.second {
    background-color: rgba(255, 192, 203, 0.4);
}

.third {
    background-color: rgb(255, 245, 231)
}

.fourth {
    background-image: url('img/mobile/macaron.jpg');
    background-size: cover;
    background-position: top;
}

.fifth {
    background-image: url('img/mobile/picnic.jpg');
    background-size: cover;
    background-position: top; 
}

.sixth {
    background-image: url('img/mobile/france_louvre.jpg');
    background-size: cover;
    background-position: top; 
}

.seventh {
    background-image: url('img/mobile/paris_mobile.jpg');
    background-size: cover;
    background-position: top; 
}

.disney {
    background-image: url('img/mobile/disneyland_mobile.jpg');
    background-size: cover;
    background-position: top; 
}


.ninth {
    background-image: url('img/mobile/italy_food.jpg');
    background-size: cover;
    background-position: top; 
}

.tenth {
    background-image: url('img/mobile/italy_street.jpg');
    background-size: cover;
    background-position: top; 
}

.eleventh {
    background-image: url('img/mobile/milan_mobile.jpg');
    background-size: cover;
    background-position: top; 
}

.twelveth {
    background-image: url('img/mobile/italy_mobile.jpg');
    background-size: cover;
    background-position: top; 
}

.thirteenth {
    background-image: url('img/mobile/venice_mobile_blurred.jpg');
    background-size: cover;
    background-position: top; 
}

.fourteenth {
    background-color: azure;
}

.fifteenth {
    background-image: url('img/png/sunstar.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.sixteenth {
    background-color: rgb(250, 253, 228);
}

.accent {
    font-weight: 700;
    color: rgb(196, 0, 98);
}

.sixteenth a {
    transform: rotate(180deg);
}


@media (min-width: 800px) {
    .fourth {
        background-image: url('img/desktop/macaron_dektop.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .fifth {
        background-image: url('img/desktop/france_food.jpg');
        background-size: cover;
        background-position: center; 
    }
    
    .sixth {
        background-image: url('img/desktop/louvre_desktop.jpg');
        background-size: cover;
        background-position: center; 
    }
    
    .seventh {
        background-image: url('img/desktop/eifel_desktop.jpg');
        background-size: cover;
        background-position: center; 
    }
    
    .disney {
        background-image: url('img/desktop/disneyland_desktop.jpg');
        background-size: cover;
        background-position: center; 
    }
    
    
    .ninth {
        background-image: url('img/desktop/italy_food_dekstop.jpg');
        background-size: cover;
        background-position: center; 
    }
    
    .tenth {
        background-image: url('img/desktop/italy_street_desktop.jpg');
        background-size: cover;
        background-position: center; 
    }
    
    .eleventh {
        background-image: url('img/desktop/milan_desktop.jpg');
        background-size: cover;
        background-position: top; 
    }
    
    .twelveth {
        background-image: url('img/desktop/milan_desktop_2.jpg');
        background-size: cover;
        background-position: top; 
    }
    
    .thirteenth {
        background-image: url('img/mobile/venice_mobile_blurred.jpg');
        background-size: cover;
        background-position: center; 
    }
    
    .fourteenth {
        background-color: azure;
    }
    
    .fifteenth {
        background-image: url('img/png/sunstar.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}